.ContainerCardsAdminEntrepreneurs
    margin-top: 1vw;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-gap: 1vw;
    grid-template-rows: auto !important;
    justify-items: center;
    align-items: end;
    width: 100%;
    height: fit-content;
    max-height: calc(100% - 1vw) !important;
    overflow-y: scroll;
