.InputSearchBar
    display: flex;
    width: 40vw;
    border-bottom: 0.1vw solid rgba(186, 0, 123, 1);
    justify-content: space-between;
    button
        background-color: transparent;
        border-radius: 0vw;
        width: 3vw !important;
        height: 3vw !important;
        border: 0.1vw solid rgba(186, 0, 124, 0);
        &:hover
            transform: translate(0vw, -.5vw)
            border: 0.1vw solid rgba(186, 0, 123, 1);

.ClaveSearchButton
    background-image: url('src/assets/Icons/IconHash.svg');
    background-size: 70% 70%; 
    background-repeat: no-repeat;
    background-position: center;

.TopSearchButton
    background-image: url('src/assets/Icons/icons8-corona-96.png');
    background-size: 80% 80%; 
    background-repeat: no-repeat;
    background-position: center;

.VentaSearchButton
    background-image: url('src/assets/Icons/icons8-banco-96.png');
    background-size: 80% 80%; 
    background-repeat: no-repeat;
    background-position: center;