.ContainerTopExistenciaCard
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30% !important;
    height: 30% !important;
    border-bottom-right-radius: 5vw;
    top: 0;
    position: absolute;
    left: 0;
    z-index: 3;
    span
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

.HeaderSpan
    height: 30%;
    font-size: .8vw;
    color: rgba(255, 247, 243, 1);
    background-color: #8333c1;

.CountSpan 
    height: 70%;
    overflow: hidden;
    align-items: start !important;
    font-size: 2vw;
    color: rgba(186, 0, 123, 1);
    background-color: white;
    border-bottom-right-radius: 100%;
