.Field{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-bottom: 0.1vw solid rgba(87, 0, 155, 0.61);
    font-weight: 300;
    font-size: 2vw;
    color: rgba(87, 0, 155, 0.94);
    padding: .5vw 0px;
}
.Field::placeholder{
    font-size: 2vw;
    color: rgba(87, 0, 155, 0.3);
    font-weight: 300;
}