.Container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: .5vw 2vw;
    width: calc(100% - 4vw);
    height: calc(100vh - 9vw);
}

.ContainerCards {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw 0;
    grid-template-rows: auto;
    justify-items: center;
    width: 100%;
    height: fit-content;
    max-height: calc(100% - 3vw);
    overflow: hidden;
    overflow-y: scroll;
}

.ContainerCards::-webkit-scrollbar {
    width: 0px;
}