.Title
    font-size: 1.5vw;
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 247, 243, 1);
    background-color: rgba(87, 0, 155, 0.61);

.Buttons
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
