.ContainerOrderForm
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        button{
            margin-top: 1vw;
        }
        textarea{
            resize: none;
            height: 10vw;
            text-align: justify;
        }
        h1{
            width: 100%;
            font-size: 2vw;
            height: 2.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(87, 0, 155, 0.61);
        }
        input, textarea{
            padding: .5vw 0vw;
            font-size: 1.5vw;
            &::-webkit-input-placeholder{
                font-size: 1.5vw;
            }
        }
        label{
            font-size: 1.5vw;
        }
        button{
            height: 4vw
        }

.Pink
    width: 45%

.Purple
    width: 50%