.ContentAdmin
    position: relative;
    width: calc(100% - 2vw);
    height: calc(100vh - 8.6vw);
    display: grid;
    grid-template-columns: 75% calc(25% - 1vw);
    grid-gap: 1vw;
    grid-template-rows: 100%;
    padding: 1vw;