.ContentAdmin
    position: relative;
    width: calc(100% - 2vw);
    height: calc(100vh - 11.6vw) !important;
    display: grid;
    grid-template-columns: 100% calc(0%) !important;
    grid-gap: 1vw;
    grid-template-rows: 100%;
    padding: 0vw 1vw 1vw 1vw !important;

.FondoAlert
    background-color: black
    opacity: .5
    position: absolute
    width:100vw
    height: 100vh
    z-index: 100

.openFormAdd
    grid-template-columns: 75% calc(25% - 1vw) !important;